.myText {
    font-family: "Arial", sans-serif;
    font-size: 18px;
}

.table-responsive {
    overflow-x: auto;
    /* Kích hoạt thanh cuộn ngang */
}

.text-center th,
td {
    white-space: nowrap;
    /* Ngăn các thẻ trong thẻ <thead> trở thành dạng block và tràn xuống dòng mới */
}

.wider-th {
    min-width: 300px;
    /* Điều chỉnh chiều rộng tối thiểu cho thẻ <th> */
}

.text-color {
    a {
        color: black
    }

}